<p>
	Do you roll your eyes when you have to fix your parent's computer (again)? Can you cast a Harry Potter spell while whistling the theme song from Dr. Who? Or maybe you are programming with Raspberry Pi while baking the world’s largest Raspberry Pie? If you said YES to any of these questions, then we want to hear from you!
</p>

<p>
	All summer long we will be celebrating all things Geek. Answer the questions in the form below and submit a video <%= link_to "(Here's some Inspiration!)", 'https://www.youtube.com/watch?v=87Y_WHOx_Nk&feature=youtu.be' %> or a picture showing us what kind of Geek you are. We will feature these on our website so come back and check out your fellow Geeks!
</p>

<p>
	You might be a MAKER Geek, a FILM geek, a COMIC BOOK geek or a SCI-FI GEEK...  Whatever your passion, we are looking for the gifted, the curious, and the exceptional Supergeeks of the GTA.
</p>

<div class='badge-container'>
    <%= link_to image_tag('icon_mission.png', size: '300x300', id: 'ribbon')%>
</div>

<p>
	TNSG is produced by sibling misfits, Amos and Karen Shaw. With over 15 years of producing award-winning content for the likes of Film, TV and Interwebs, the duo specializes in out-of-this-world content.
</p>