Tasks Index 

<% @tasks.each do |task| %>
	<ul><strong><%= task.name %></strong>
		<br> <%= task.description %>
		<li class='points'><%= task.points %>Points<button></button></li>
		<br> <%= render 'submissions/form' %> </ul>
<%end%>
