Tasks Index 

<% @tasks.each do |task| %>
	<ul>
		</div class='taskname-container'><strong><%= task.name %></strong></div>
		<div><%= task.description %>
		<li class='points'><%= task.points %>Points<button></button></li>
		<br> <%= render 'submissions/form' %> </ul>
		</div>
<%end%>
 

