<p id="notice"><%= notice %></p>

<p>
  CONGRATULATIONS
</p>

<p>
  You have successfully completed the ROM MISSION!
</p>

<p>
  Your final score was <%=current_user.score%>
</p>

<p>
  Please redeem your prize at the membership desk. Visit us online to find out more about the grand prize.
</p>

<p>
  www.thenextsupergeek.com
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
