  <!-- Background image -->
<div class="museum-image">
  <%= image_tag ("museum-hero") %>
</div>

<!-- Supergeek challenge logo -->
<div class="challenge-logo">
  <%= image_tag ("tsngChallenge") %>
</div>


<!-- Large button group -->
<div class="btn-enter" >
  <button type="button" class="btn btn-default"> <%= link_to "ENTER", tasks_url %> </button>
</div>


<!-- <button> <%= link_to "ENTER", tasks_url %></button> -->

<!-- <a class="typeform-share link" href="https://forms.typeform.io/to/GPBvhw5Y5v" data-mode="2" target="_blank">LET'S GO!</a>

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script> -->


<a class="typeform-share link" href="https://andklar.typeform.com/to/z3KGje" data-mode="1" target="_blank">Launch me!</a>

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
