<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Submission</title>
  </head>
  <body>
    <form>
    <form class="Answer" action="Answer" method="post">
      <input type="text" name="answer" value="Answer"><br>

    </form>
  </body>
</html>

<form>
  <label for="name"></label>
  <input type="text" name="name" class="contact-info" id="name" placeholder="Name">
  <label for="email"></label>
  <input type="email" name="email" class="contact-info" id="email" placeholder="Email">
  <div class="clear"></div>
  <label for="message"></label>
  <textarea name="message" id="message" placeholder="Message"></textarea>
  <input type="submit" name="submit" id="submit" value="Submit">
</form>
