@import "bootstrap-sprockets";
@import "bootstrap";
@import "main";
@import "tasks";
@import "welcome";


img {
  max-width: 100%;
  margin-top: 10px;
}

.museum-image {
  margin-top: -10px;
}

div#nav {
  float: right;
  margin-right: 15px;
}
.nav-logo {
  float: right;
  margin-top: 0-px;
}

.score-container {
  float: right;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25%;  
  margin-top: 13px;
}

.challenge-logo {
  max-width: 330px;
  margin-top: -20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar navbar-light bg-faded {
  color: yellow;
}

.footer {
  margin-top: 25%;
  margin-left: 10px;
}

// a {
//     border-radius: 40px;
// }


/*button.btn.btn-default {
    color: black;
    background-color: #feef34;
    border-radius: 20px;
}*/

//     box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24),0 9px 23px 0 rgba(0,0,0,0.19);
// }

// testing button for hover
.button {
  display: inline-block;
  border-radius: 50px;
  background-color: #feef34;
  border: none;
  color: #black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

// ================ Full Screen Modal ======================

/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

.fs-title {
    text-align: center;
    margin: 25px;
}

.fs-subtitle {
    text-align: center;
    margin: 25px;
}


input {
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

.container {
  margin-left: 28%
}
