@import "bootstrap-sprockets";
@import "bootstrap";

@import "main";


img {
    max-width: 100%;
}

.museum_image {
    margin-top: 50px;
}

div#nav {
    float: right;
}

.challenge-logo {
    max-width: 350px;
    // position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar navbar-light bg-faded {
  color: yellow;
}
