html {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  font-family: 'Dessau';
}

body {
  position: relative;
  font-family: 'Dessau';
  font-size: 20px;
  background-color: #feef34;
  margin: 0px;
}

@font-face {
  font-family: 'Dessau';
  src: font-url('DessauPro.otf') format("truetype");
}


// =================== Enter Button on welcome page====================
button.btn.btn-default {
    margin: 0 auto;
    width: 150px;
    text-align: center;
}

// =================== Tasks buttons on Task index====================

button.btn.btn-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 0;
}

button.btn.btn-default {
    display: block;
    a {
      color: black;
    }
}

// // background image for task index
// .task-background {
//   margin-top: 0px;
// }

// runner logo in task index
.runner {
  // position: relative;
  display: block;
  margin-top: -7%;
  margin-left: 27%;
  margin-right: 20%;
}

#points-heading {
    display: inline;
    float: right;
}

#answer-heading {
    display: inline;
    float: right;
}

.hamburger-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hamburger-container {
  background-color: #feef34;
  overflow: hidden;
  height: 56px;
  top: 5%;
}

aside.sidebar.is-open {
    background-color: #feef34;
    width: 210px;
}

nav.side-menu-content {
    margin-top: 100px;
    color: black;
}

a {
    color: #000000;
    text-decoration: none;
}

ul.side-menu {
    margin-left: -5px;
    list-style: none;
}

ul.side-menu li {
    margin-bottom: 10px;

}

#nav-toggle {
  position: relative;
  left: 2%;
  top: 0%;
  cursor: pointer;
  padding: 30px 100px 36px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after {
  cursor: pointer;
  height: 3px;
  width: 25px;
  background: black;
  position: absolute;
  display: block;
  content: '';

  transition: all 0.25s ease-out;
}

#nav-toggle span::before {
  top: -8px;
}

#nav-toggle span::after {
  bottom: -8px;
}

#nav-toggle.is-open span {
  background-color: transparent;
}

#nav-toggle.is-open span::before {
  top: 0;
  transform: rotateZ(45deg);
}

#nav-toggle.is-open span::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

.sidebar {
  background-color: #feef34;
  position: fixed;
  height: 100%;
  // width: 300px;
  top: 0;
  left: -300px;

  transition: left 0.25s ease-out;
}

.sidebar.is-open {
  left: 0;
}

.notification {

  p {
    margin: 0;
  }
}

// Styling for supergeek logo
.nav-logo {
  height: 100px;
  width: 100px;
  float: right;
  margin-right: 5px;
  margin-top: -8px;
}

// slide ROM mission

.mission-slide {
  display: inline-block;
  position: relative;
  top: -400px;
  width: 190px;
  left: -100px;
  animation: myframes 1.5s ease-in-out 0s 1 alternate forwards;
}

@keyframes myframes {
  from {
    left: -100px;
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    left: 45%;
    transform: scale(1);
    opacity: 1;
  }
}

// Styling for homepage image
.museum-image {

}

.panel-title {
    font-size: 28px;
    color: black;
    margin: 14px;
}

.panel-body {
  font-size: 10px;
}

// =================== Leaderboard styling ====================

.leaderboard {
  background-color: #feef34;
  font-size: 20px;
  margin: 0px;
}

.table {
  border-color: black;
  margin: 30px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 3px solid #2b2727;
}

.table > tbody {
    vertical-align: bottom;
    border-bottom: 1px solid #2b2727;
}

.table > thead > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > th, 
.table > tbody > tr > td, 
.table > tfoot > tr > th, 
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid black;
}

.leaderboard > hr {
    margin-top: 42px;
    margin-bottom: 20px;
    margin-left: 30px;
    border: 0;
    border-top: 3px solid #000000;
}

.leaderboard > h1 {
    margin-left: 36px;
}

hr {
    border: 0;
    border-top: 3px solid #000000;
}
