/*
// .challenge-logo {
//     max-width: 350px;
//     margin-left: auto;
//     margin-right: auto;
// }


// ================ Full Screen Modal ======================

/* .modal-fullscreen */

/*.modal-fullscreen {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.93);
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}*/

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

/*.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

.fs-title {
    text-align: center;
    margin: 25px;
}

#fs-username > input,
#fs-submit > input {
	margin-left: 50%;
	transform: translate(-50%, -50%);
  margin-top: 20px;
}
#fs-icon > input {
  transform: translate(-50%, -50%);
  left: 44%;
  position: relative;
  margin-top: 25px;
}

.container {
	margin-left: 28%
}

input {
    
}*/

/*fieldset img {
	margin-left: 20%;
}

#fs-username input {
	margin-left: 50%;
	transform: translate(-50%, -50%);
}

#fs-submit input {
	margin-left: 50%;
	transform: translate(-50%, -50%);
}

input.left {
	float: left;
	margin-left: 25%;
}

input.right {
	float: right;
	margin-right: 25%;
}

#left-icon {
	display: inline;
	float: left;
	margin-left: 25%;
}

#right-icon {
	display: inline;
	float: right;
	margin-right: 25%;
}*/
/*.icons {
	display: inline;
}*/

/*fieldset {
  align-content: 0;
}


.modal-footer .btn + .btn {
    margin-left: 50%;
    transform: translate(-50%,-50%);
    position: static;
    display: block;
}*/

/*button.btn.btn-default {
    display: block;
    position: inherit;
    bottom: -300px;
}*/

/*/*/